* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.stacco {
   width: 40%; 
   text-align: center; 
   border-bottom: 2px solid; 
   line-height: 0.1em;
   margin: 20px auto 20px; 
   padding: 0 50px;
    
}

.stellav {
    padding:0 10px;
    background-color:#1abc9c ; 
}

.stellab {
    padding:0 10px;
    background-color:white ; 
}

/* header */
.menu {
    height: 90px;
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    
}

/* jumbo */
#jumbotron {
    background-color: #1abc9c;
    color: white;
    padding: 50px 0 30px;
}

#jumbotron img {
    width: 20%;
}


/* portfolio */
#portfolio {
    padding: 50px 0;
}


#portfolio img {
    width: 100%;
}


.about {
    background-color: #1abc9c;
}

.contact {
    height: 200px;
}

.boxheight {
    height: 80px;
    background-color: yellow;
    width: 100px;
    margin: auto;

}

.titolopiccolo {
    height: 50px;
}

.topfoot {
    background-color: #3a546d;
}

.botfoot {
    background-color: #2c3e50;
    height: 80px;
}